<link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
<link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
<link rel="import" href="../../paper-input/paper-input.html">
<link rel="import" href="../../paper-spinner/paper-spinner.html">
<link rel="import" href="../lazy-template.html">

<style is="custom-style" include="demo-pages-shared-styles"></style>

<dom-module id="demo-app">
    <style include="demo-pages-shared-styles"></style>
    <template>
        <div class="vertical-section-container centered">
            <h3>Basic lazy-template Demo</h3>
            <demo-snippet>
                <paper-input label="Type 'load' to triger loading" value="{{test1}}"></paper-input>
                <lazy-template load-if="{{shouldLoad(test1)}}">
                    <test-element data-lazy-href="test-element.html"></test-element>
                </lazy-template>
            </demo-snippet>
        </div>

        <div class="vertical-section-container centered">
            <h3>Using `loading` propperty</h3>
            <demo-snippet>
                <paper-input label="Type 'load' to triger loading" value="{{test2}}"></paper-input>
                <lazy-template load-if="{{shouldLoad(test2)}}" loading="{{loadingTemplate}}">
                    <paper-spinner active="{{loadingTemplate}}"></paper-spinner>
                    <other-element data-lazy-href="other-element.html"></other-element>
                </lazy-template>
            </demo-snippet>
        </div>
    </template>
    <script>
        Polymer({
            is: 'demo-app',
            properties: {
                test: String,
                notify: true
            },
            shouldLoad: function(value) {
                return value === 'load';
            }
        });
    </script>
</dom-module>
